.main-page{
    .img-1-overview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;
        .radios{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 32px;
            input{
                height: 6px;
                width: 6px;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
                background: #FFFFFF;
                border: none;
                margin: 15px;
                z-index: -1;
                &::before{
                    content: '';
                    position: absolute;
                    height: 6px;
                    width: 6px;
                    border-radius: 50%;
                    background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
                    opacity: 0;
                    border: none;
                }
                &:checked::before{
                    opacity: 1;
                }
            }
        }
    }
    .design-container_conteudo {
        margin: 0 33px;

        .design-container_numeracao {
            font-size: 14px;
            display: inline-block;
            margin: 0 24px 24px 0;
            color: #5468E7;
        }

        .design-container_semi-titulo {
            display: inline-block;
            font-size: 14px;
            margin: 0;
            color: #5468E7;
        }

        .design-container_titulo {
            font-weight: 700;
            font-size: 40px;
        }
        .design-container_paragrafo{
            margin-top: 48px;
            font-weight: 400;
            font-size: 16px;
            color: #606060;
        }

        .design-container_buttons {
            display: flex;
            margin-top: 32px;

            .design-container_navigator1 {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                margin-right: 16px;
                background-color: #606060;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    transition: 1s;
                    opacity: 0.5;
                    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
                    width: 52px;
                    height: 52px;
                    cursor: pointer;
                }
            }

            .design-container_navigator2 {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background-color: #5468E7;
                border: none;
                text-align: center;
                align-items: center;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    transition: 1s;
                    opacity: 0.5;
                    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
                    width: 52px;
                    height: 52px;
                    cursor: pointer;
                }
            }
        }
        h2{
            font-size: 24px;
            margin: 40px 0 32px 0;
        }
    }
        .cards{
            .card_style{
                background-color: #FFFFFF;
                width: 311px;
                height: 256px;
                margin: 16px 32px 50px 32px;
                border-radius: 32px;
                color: #5468E7;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
                img{
                    width: 91px;
                    height: 91px;
                    padding-right: 25px;
                }
                h1{
                    font-size: 18px;
                }
                &:hover{
                    background-color: #5468E7;
                    color: #FFFFFF;
                    cursor: pointer;
                    transition: 1s;
                }
            }
        }
    }