<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu lateral</title>

    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header class="navigator">
        <nav class="menu-lateral">
        <div class="cabecalho_menu-lateral">
            <img class="logo_menu-lateral" src="/assets/logo-marca.svg" alt="Logo marca">
            <a class="exit_menu-lateral" href="/index.html"><img src="/assets/exit-menu_lateral.svg" alt= 'Menu lateral'></a>
        </div>
        <div class="links_menu-lateral">
            <a href="" >Work</a>
            <a href="">About</a>
            <a href="">Services</a>
            <a href="">Jobs</a>
        </div>
        <div class="redes-sociais_menu-lateral">
            <a class="facebook" href="https://pt-br.facebook.com/"><img src="/assets/logo-facebook.svg" alt="Facebook"></a>
            <a class="youtube" href="https://www.youtube.com/"><img src="/assets/logo-youtube.svg" alt="Youtube"></a>
            <a class="instagram" href="https://www.instagram.com/"><img src="/assets/logo-instagram.svg" alt="Instagram"></a>
        </div>
    </nav>
</header>
</body>
</html>