* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.cabecalho {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 128px;
  padding: 0 16px;
}
.cabecalho .cabecalho-logo {
  width: 127.2px;
  height: 32px;
}
.cabecalho .cabecalho-navbar {
  background-color: transparent;
  border: none;
  width: auto;
  height: auto;
}
.cabecalho .cabecalho-navbar:hover {
  cursor: pointer;
}

.menu-lateral {
  z-index: 1;
  display: none;
  position: absolute;
  background-color: #232340;
  right: -100vw;
  bottom: 0;
  top: 0;
  transition: 0.25s;
}
.menu-lateral .cabecalho_menu-lateral {
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.menu-lateral .cabecalho_menu-lateral .logo_menu-lateral {
  width: 128px;
  height: 32px;
  margin: 52px 0 0 32px;
}
.menu-lateral .cabecalho_menu-lateral .exit_menu-lateral {
  margin: 52px 32px 0px 0px;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
}
.menu-lateral .cabecalho_menu-lateral .exit_menu-lateral img {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links_menu-lateral {
  display: flex;
  flex-direction: column;
  margin: 138px 0 146px 32px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.links_menu-lateral a {
  padding-bottom: 40px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-decoration: none;
  font-weight: 700;
  font-size: 32px;
  color: #595976;
}
.links_menu-lateral a:hover {
  color: #FFFFFF;
}

.redes-sociais_menu-lateral {
  background-color: transparent;
  display: flex;
  padding: 0 0 40px 32px;
}
.redes-sociais_menu-lateral .facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #D8D8D8;
  border-radius: 50%;
}
.redes-sociais_menu-lateral .facebook img {
  color: black;
  width: 12px;
  height: 12px;
  margin: 0;
}
.redes-sociais_menu-lateral .facebook:hover {
  transition: all 1s;
  opacity: 0.2;
  border: none;
  cursor: pointer;
  width: 42px;
  height: 42px;
  background-color: #5468E7;
}
.redes-sociais_menu-lateral .youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #D8D8D8;
  margin: 0 32px;
}
.redes-sociais_menu-lateral .youtube img {
  width: 12px;
  height: 12px;
  margin: 0;
}
.redes-sociais_menu-lateral .youtube:hover {
  transition: all 1s;
  border: none;
  cursor: pointer;
  width: 42px;
  height: 42px;
  background-color: #5468E7;
}
.redes-sociais_menu-lateral .instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D8D8D8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.redes-sociais_menu-lateral .instagram img {
  width: 12px;
  height: 12px;
  margin: 0;
}
.redes-sociais_menu-lateral .instagram:hover {
  transition: all 1s;
  border: none;
  cursor: pointer;
  width: 42px;
  height: 42px;
  background-color: #5468E7;
}

.menu-lateral_ativo {
  display: flex;
  flex-direction: column;
  transition: 0.25s;
  right: 0;
  left: 0;
}

.home-container_desativado {
  display: none;
}

.rodape_desativado {
  display: none;
}

.design-container_desativado {
  display: none;
}

body {
  background: url("/assets/decoracao-background.svg");
  background-repeat: no-repeat;
}
body .button-screen_hero {
  width: 160px;
  height: 56px;
  border-radius: 8px;
  background-color: #5468E7;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  font-weight: 600;
}
body .home-container {
  height: 780px;
}
body .home-container .texto-descricao {
  z-index: 0;
  width: 311px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
body .home-container .texto-descricao h1 {
  font-size: 48px;
  font-weight: bold;
}
body .home-container .texto-descricao p {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #606060;
  margin: 30px 0 10px 0;
}
body .home-container .texto-descricao .design-container_buttons {
  display: flex;
  margin: 10px 0 30px 0;
}
body .home-container .texto-descricao .design-container_buttons .button-left {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: #808080;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .home-container .texto-descricao .design-container_buttons .button-left:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
}
body .home-container .texto-descricao .design-container_buttons .button-right {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #5468E7;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .home-container .texto-descricao .design-container_buttons .button-right:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
}
body .home-container .img-container1 {
  position: relative;
  top: -150px;
  right: 0px;
  z-index: -1;
}
body .home-container .img-container1 .img-home_container {
  width: 100%;
  height: 515px;
  position: relative;
  right: 0;
}
body .rodape .contact-us {
  height: 548px;
  margin: 40px 32px 0 32px;
  background-color: #5468E7;
  background-image: url(/assets/line__footer.svg);
  background-repeat: no-repeat;
  border-radius: 24px;
  text-align: center;
  color: #FFFFFF;
}
body .rodape .contact-us img {
  margin: 49px 99px 0 139px;
}
body .rodape .contact-us h4 {
  font-size: 14px;
  margin-top: 6px;
}
body .rodape .contact-us h3 {
  font-size: 18px;
  margin: 40px 37px 40px 38px;
}
body .rodape .contact-us .linha-footer {
  height: 2px;
  background-color: #FFFFFF;
  opacity: 0.2;
}
body .rodape .contact-us h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 40px 15px 40px 15px;
}
body .rodape .contact-us button {
  width: 263px;
  height: 56px;
  background-color: #FFFFFF;
  color: #5468E7;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}
body .rodape .navegacao-footer {
  background: url(/assets/line-footer.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
body .rodape .navegacao-footer img {
  margin: 80px 0 32px 0;
  width: 136px;
  height: 35px;
}
body .rodape .navegacao-footer p {
  font-size: 16px;
  margin: 0 60px 24px 60px;
  color: #ADADAD;
}
body .rodape .navegacao-footer .navegacao {
  font-family: "Montserrat", sans-serif;
  width: 311px;
  height: 48px;
  border-color: #D8D8D8;
  border-radius: 8px;
  padding: 16px 24px;
}
body .rodape .navegacao-footer .redes-sociais_footer {
  background-color: transparent;
  display: flex;
  margin: 32px 0;
}
body .rodape .navegacao-footer .redes-sociais_footer .facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5468E7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}
body .rodape .navegacao-footer .redes-sociais_footer .facebook img {
  color: black;
  width: 12px;
  height: 12px;
  margin: 0;
}
body .rodape .navegacao-footer .redes-sociais_footer .facebook:hover {
  transition: all 1s;
  opacity: 0.2;
  border: none;
  cursor: pointer;
  width: 42px;
  height: 42px;
}
body .rodape .navegacao-footer .redes-sociais_footer .youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #D8D8D8;
  margin: 0 8px;
}
body .rodape .navegacao-footer .redes-sociais_footer .youtube img {
  width: 12px;
  height: 12px;
  margin: 0;
}
body .rodape .navegacao-footer .redes-sociais_footer .youtube:hover {
  transition: all 1s;
  border: none;
  cursor: pointer;
  width: 42px;
  height: 42px;
  background-color: #5468E7;
}
body .rodape .navegacao-footer .redes-sociais_footer .instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D8D8D8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
body .rodape .navegacao-footer .redes-sociais_footer .instagram img {
  width: 12px;
  height: 12px;
  margin: 0;
}
body .rodape .navegacao-footer .redes-sociais_footer .instagram:hover {
  transition: all 1s;
  border: none;
  cursor: pointer;
  width: 42px;
  height: 42px;
  background-color: #5468E7;
}
body .rodape .navegacao-footer h4 {
  color: #ADADAD;
  font-size: 12px;
  margin: 32px 0;
}

.design-container {
  background-color: #232340;
  color: #FFFFFF;
  height: 1600px;
}
.design-container .design-container_conteudo {
  margin-left: 33px;
}
.design-container .design-container_conteudo .design-container_numeracao {
  font-size: 14px;
  display: inline-block;
  margin: 64px 24px 24px 0;
  color: #ADADAD;
}
.design-container .design-container_conteudo .design-container_semi-titulo {
  display: inline-block;
  font-size: 14px;
}
.design-container .design-container_conteudo .design-container_titulo {
  font-weight: 700;
  font-size: 40px;
}
.design-container .design-container_conteudo .design-container_buttons {
  display: flex;
  margin-top: 32px;
}
.design-container .design-container_conteudo .design-container_buttons .design-container_navigator1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: transparent;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
}
.design-container .design-container_conteudo .design-container_buttons .design-container_navigator1:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.design-container .design-container_conteudo .design-container_buttons .design-container_navigator2 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #5468E7;
  border: none;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.design-container .design-container_conteudo .design-container_buttons .design-container_navigator2:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.design-container .design-container_conteudo #design-container_navdata {
  margin-left: 54px;
  color: #FFFFFF;
  width: 144px;
  height: 48px;
  background-color: transparent;
  background: #232340;
  border-radius: 8px;
  border: none;
}
.design-container .img-container2 img {
  margin-top: 80px;
}
.design-container .design-team {
  margin: 56px 32px;
}
.design-container .design-team .design-team_titulo {
  font-weight: 700;
  font-size: 24px;
}
.design-container .design-team .design-team_paragrafo {
  color: #8B8B8B;
  margin: 40px 0 32px 0;
}
.design-container .numeracao-record_screen-hero {
  margin: 0 32px;
  width: 310px;
  height: 310px;
  background-color: #232340;
  box-shadow: 0px 23px 51px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.design-container .numeracao-record_screen-hero h1 {
  font-size: 140px;
}
.design-container .numeracao-record_screen-hero h2 {
  font-size: 18px;
}

body {
  background-image: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
}
body .cabecalho_service {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 128px;
  padding: 0 16px;
}
body .cabecalho_service .cabecalho-logo {
  width: 127.2px;
  height: 32px;
}
body .cabecalho_service .cabecalho-navbar {
  background-color: transparent;
  border: none;
  width: auto;
  height: auto;
}
body .cabecalho_service .cabecalho-navbar:hover {
  cursor: pointer;
}
body .design-container_service {
  color: #000000;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
body .design-container_service .design-container_conteudo {
  margin-left: 33px;
}
body .design-container_service .design-container_conteudo .design-container_numeracao_service {
  font-size: 14px;
  display: inline-block;
  margin: 0 24px 24px 0;
  color: #5468E7;
}
body .design-container_service .design-container_conteudo .design-container_semi-titulo_service {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  color: #5468E7;
}
body .design-container_service .design-container_conteudo .design-container_titulo {
  font-weight: 700;
  font-size: 40px;
}
body .design-container_service .design-container_conteudo .design-container_buttons {
  display: flex;
  margin-top: 32px;
}
body .design-container_service .design-container_conteudo .design-container_buttons .design-container_navigator1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8B8B8B;
}
body .design-container_service .design-container_conteudo .design-container_buttons .design-container_navigator1:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
body .design-container_service .design-container_conteudo .design-container_buttons .design-container_navigator2 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #5468E7;
  border: none;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .design-container_service .design-container_conteudo .design-container_buttons .design-container_navigator2:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
body .design-container_service .cards .card_style {
  background-color: #FFFFFF;
  width: 311px;
  height: 190px;
  margin: 56px 32px 0 32px;
  border-radius: 32px;
  color: #5468E7;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .design-container_service .cards .card_style img {
  width: 91px;
  height: 91px;
  padding-right: 25px;
}
body .design-container_service .cards .card_style h1 {
  font-size: 18px;
}
body .design-container_service .cards .card_style:hover {
  background-color: #5468E7;
  color: #FFFFFF;
  cursor: pointer;
  transition: 1s;
}
body .achievement-container .achievement-container_conteudo {
  margin: 56px 0 0 32px;
}
body .achievement-container .achievement-container_conteudo .semi-titulo {
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
body .achievement-container .achievement-container_conteudo .semi-titulo .num_semi-titulo {
  color: #8B8B8B;
  padding-right: 24px;
  margin: 0;
  margin-bottom: 24px;
}
body .achievement-container .achievement-container_conteudo .semi-titulo h4 {
  font-size: 14px;
  margin-bottom: 24px;
  margin: 0;
}
body .achievement-container .achievement-container_conteudo .titulo {
  font-weight: 700;
  font-size: 24px;
  color: #232340;
}
body .achievement-container .achievement-container_conteudo .numeracao {
  font-size: 140px;
  color: #5468E7;
  padding-top: 32px;
}
body .achievement-container .achievement-container_conteudo .mensagem {
  font-size: 18px;
  margin: 0;
}
body .achievement-container .slide img {
  margin-top: 36px;
}
body .achievement-container .slide .radios {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -1590px;
  left: 130px;
}
body .achievement-container .slide .radios input {
  height: 12px;
  width: 12px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  background: #FFFFFF;
  border: none;
  margin: 15px;
}
body .achievement-container .slide .radios input::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
  opacity: 0;
  border: none;
}
body .achievement-container .slide .radios input:checked::before {
  opacity: 1;
}

.home-work .design-container_conteudo {
  margin: 0 33px;
}
.home-work .design-container_conteudo .design-container_numeracao_service {
  font-size: 14px;
  display: inline-block;
  margin: 0 24px 24px 0;
  color: #5468E7;
}
.home-work .design-container_conteudo .design-container_semi-titulo_service {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  color: #5468E7;
}
.home-work .design-container_conteudo .design-container_titulo {
  font-weight: 700;
  font-size: 40px;
}
.home-work .design-container_conteudo p {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #606060;
}
.home-work .design-container_conteudo .design-container_buttons {
  display: flex;
  margin: 32px 0 56px 0;
}
.home-work .design-container_conteudo .design-container_buttons .design-container_navigator1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #808080;
}
.home-work .design-container_conteudo .design-container_buttons .design-container_navigator1:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.home-work .design-container_conteudo .design-container_buttons .design-container_navigator2 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #5468E7;
  border: none;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-work .design-container_conteudo .design-container_buttons .design-container_navigator2:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.home-work .cards-work {
  margin: 0 32px;
}
.home-work .cards-work .card-work {
  padding-top: 32px;
}
.home-work .cards-work .card-work .background-container {
  width: 311px;
  height: 355px;
  background-color: #FFBA79;
  border-radius: 17px;
}
.home-work .cards-work .card-work .background-container .img-container {
  padding-top: 21px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-work .cards-work .card-work .button-card {
  position: relative;
  margin-left: 24px;
  top: -35px;
  width: 118px;
  height: 28px;
  background: #908CFF;
  border-radius: 14px;
  border: none;
  font-weight: 600;
  font-size: 9.95556px;
  color: #FFFFFF;
}
.home-work .cards-work .texto-card h1 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 21px;
}
.home-work .cards-work .texto-card p {
  font-weight: 400;
  font-size: 16px;
}
.home-work .cards-work .texto-card .button-card {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: inherit;
  margin-left: 0;
  margin-top: 24px;
  border: 3px solid black;
}
.home-work .cards-work .button-contact-us {
  width: 313px;
  height: 46px;
  background: #5468E7;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  margin-top: 32px;
}

main .main-container_cta {
  background-image: url("/assets/background-cta.svg");
  background-repeat: no-repeat;
}
main .main-container_cta .container-cta {
  width: 311px;
  height: 929px;
  border-radius: 28.4444px;
  margin: 0 auto;
  color: #FFFFFF;
  z-index: -2;
}
main .main-container_cta .container-cta .cta-container_conteudo {
  margin-left: 39px;
  margin-right: 10px;
  position: relative;
}
main .main-container_cta .container-cta .cta-container_conteudo .cta-container_numeracao {
  font-size: 14px;
  display: inline-block;
  margin: 64px 24px 24px 0;
}
main .main-container_cta .container-cta .cta-container_conteudo .cta-container_semi-titulo {
  display: inline-block;
  font-size: 14px;
}
main .main-container_cta .container-cta .cta-container_conteudo .cta-container_titulo {
  font-weight: 700;
  font-size: 45px;
}
main .main-container_cta .container-cta .cta-container_conteudo .cta-container_buttons {
  display: flex;
  margin-top: 32px;
}
main .main-container_cta .container-cta .cta-container_conteudo .cta-container_buttons .cta-container_navigator1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: #808080;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-container_cta .container-cta .cta-container_conteudo .cta-container_buttons .cta-container_navigator1:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
main .main-container_cta .container-cta .cta-container_conteudo .cta-container_buttons .cta-container_navigator2 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #5468E7;
  border: none;
  text-align: center;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-container_cta .container-cta .cta-container_conteudo .cta-container_buttons .cta-container_navigator2:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
main .main-container_cta .container-cta .cta-container_conteudo .botao-cta {
  margin-top: 12px;
  width: 143px;
  height: 46px;
  background-color: #FFFFFF;
  padding: 20px;
  text-decoration: none;
  color: #5468E7;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.corpo-pagina {
  background: url("/assets/line_case-study_header.svg");
  background-repeat: no-repeat;
  background-position: right top;
}
.corpo-pagina .cabecalho_case-study {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 128px;
  padding: 0 16px;
}
.corpo-pagina .cabecalho_case-study .cabecalho-logo {
  width: 127.2px;
  height: 32px;
}
.corpo-pagina .cabecalho_case-study .cabecalho-navbar {
  background-color: transparent;
  border: none;
  width: auto;
  height: auto;
}
.corpo-pagina .cabecalho_case-study .cabecalho-navbar:hover {
  cursor: pointer;
}
.corpo-pagina .main-page .conteudo_main-page {
  margin: 0 32px;
}
.corpo-pagina .main-page .conteudo_main-page .button_featured {
  display: flex;
  width: 119px;
  height: 29px;
  font-size: 10px;
  background: #FFBA79;
  border-radius: 14.2222px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #FFBA79;
  border-radius: 14.2222px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.corpo-pagina .main-page .conteudo_main-page h1 {
  font-weight: bold;
  font-size: 64px;
  color: #232340;
  margin-bottom: 16px;
}
.corpo-pagina .main-page .conteudo_main-page h2 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  color: #232340;
}
.corpo-pagina .main-page .conteudo_main-page .cta-container_buttons {
  display: flex;
  margin-top: 32px;
  z-index: 1;
}
.corpo-pagina .main-page .conteudo_main-page .cta-container_buttons .cta-container_navigator1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: #808080;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.corpo-pagina .main-page .conteudo_main-page .cta-container_buttons .cta-container_navigator1:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.corpo-pagina .main-page .conteudo_main-page .cta-container_buttons .cta-container_navigator2 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #5468E7;
  border: none;
  text-align: center;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.corpo-pagina .main-page .conteudo_main-page .cta-container_buttons .cta-container_navigator2:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.corpo-pagina .main-page .conteudo_main-page .icons_main-page {
  margin-top: 32px;
  display: flex;
}
.corpo-pagina .main-page .conteudo_main-page .icons_main-page .card_icon-1 img {
  margin-bottom: 16px;
}
.corpo-pagina .main-page .conteudo_main-page .icons_main-page .card_icon-1 p {
  font-size: 12px;
  color: #5468E7;
}
.corpo-pagina .main-page .conteudo_main-page .icons_main-page .card_icon-2 {
  margin-left: 40px;
}
.corpo-pagina .main-page .conteudo_main-page .icons_main-page .card_icon-2 img {
  margin-bottom: 16px;
}
.corpo-pagina .main-page .conteudo_main-page .icons_main-page .card_icon-2 p {
  font-size: 12px;
  color: #5468E7;
}
.corpo-pagina .main-page .conteudo_main-page .img-3_header {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  right: 0;
  z-index: -1;
}

.main-page .img-1-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.main-page .img-1-overview .radios {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.main-page .img-1-overview .radios input {
  height: 6px;
  width: 6px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  background: #FFFFFF;
  border: none;
  margin: 15px;
  z-index: -1;
}
.main-page .img-1-overview .radios input::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
  opacity: 0;
  border: none;
}
.main-page .img-1-overview .radios input:checked::before {
  opacity: 1;
}
.main-page .design-container_conteudo {
  margin: 0 33px;
}
.main-page .design-container_conteudo .design-container_numeracao {
  font-size: 14px;
  display: inline-block;
  margin: 0 24px 24px 0;
  color: #5468E7;
}
.main-page .design-container_conteudo .design-container_semi-titulo {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  color: #5468E7;
}
.main-page .design-container_conteudo .design-container_titulo {
  font-weight: 700;
  font-size: 40px;
}
.main-page .design-container_conteudo .design-container_paragrafo {
  margin-top: 48px;
  font-weight: 400;
  font-size: 16px;
  color: #606060;
}
.main-page .design-container_conteudo .design-container_buttons {
  display: flex;
  margin-top: 32px;
}
.main-page .design-container_conteudo .design-container_buttons .design-container_navigator1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: #606060;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page .design-container_conteudo .design-container_buttons .design-container_navigator1:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.main-page .design-container_conteudo .design-container_buttons .design-container_navigator2 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #5468E7;
  border: none;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page .design-container_conteudo .design-container_buttons .design-container_navigator2:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.main-page .design-container_conteudo h2 {
  font-size: 24px;
  margin: 40px 0 32px 0;
}
.main-page .cards .card_style {
  background-color: #FFFFFF;
  width: 311px;
  height: 256px;
  margin: 16px 32px 50px 32px;
  border-radius: 32px;
  color: #5468E7;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.main-page .cards .card_style img {
  width: 91px;
  height: 91px;
  padding-right: 25px;
}
.main-page .cards .card_style h1 {
  font-size: 18px;
}
.main-page .cards .card_style:hover {
  background-color: #5468E7;
  color: #FFFFFF;
  cursor: pointer;
  transition: 1s;
}

.body-the_number {
  background-image: none;
}
.body-the_number .cabecalho_case-study {
  background-color: #232340;
  height: 128px;
}
.body-the_number .cabecalho_case-study .cabecalho_menu-lateral {
  display: flex;
  justify-content: space-between;
  height: 375px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.body-the_number .cabecalho_case-study .cabecalho_menu-lateral .logo_menu-lateral {
  width: 128px;
  height: 32px;
  margin: 52px 0 0 32px;
}
.body-the_number .cabecalho_case-study .cabecalho_menu-lateral .cabecalho-navbar {
  margin: 52px 32px 0px 0px;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
}
.body-the_number .cabecalho_case-study .cabecalho_menu-lateral .cabecalho-navbar img {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-the_number .number-container {
  background-color: #232340;
  color: #FFFFFF;
  padding-left: 32px;
}
.body-the_number .number-container .design-container_numeracao {
  font-size: 14px;
  display: inline-block;
  margin: 0 24px 24px 0;
  color: #ADADAD;
}
.body-the_number .number-container .design-container_semi-titulo {
  display: inline-block;
  font-size: 14px;
}
.body-the_number .number-container .design-container_titulo {
  font-weight: 700;
  font-size: 40px;
}
.body-the_number .number-container .design-container_buttons {
  display: flex;
  margin-top: 32px;
}
.body-the_number .number-container .design-container_buttons .design-container_navigator1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-the_number .number-container .design-container_buttons .design-container_navigator1:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.body-the_number .number-container .design-container_buttons .design-container_navigator2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #5468E7;
  border: none;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin-right: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-the_number .number-container .design-container_buttons .design-container_navigator2:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.body-the_number .number-container .big-numeracao_icon {
  margin-top: 30px;
  display: flex;
}
.body-the_number .number-container .big-numeracao_icon h1 {
  font-size: 140px;
}
.body-the_number .number-container .big-numeracao_icon h2 {
  font-size: 45.5111px;
}
.body-the_number .number-container .titulo-big-numeracao {
  font-size: 18px;
  margin: 9px 0 32px 0;
}
.body-the_number .number-container .paragrafo-big-numeracao {
  border-top: 0.711111px solid #606060;
  color: #8B8B8B;
  font-size: 16px;
  margin-bottom: 32px;
  padding-top: 32px;
  line-height: 28px;
}
.body-the_number .number-container .button-download {
  display: flex;
  align-items: center;
}
.body-the_number .number-container .button-download a {
  margin-right: 10px;
}
.body-the_number .number-container .button-download h1 {
  font-size: 16px;
}
.body-the_number .number-container .design-container_navdata {
  color: #FFFFFF;
  width: 144px;
  height: 48px;
  background-color: #303055;
  border-radius: 8px;
  border: none;
  padding: 10px;
  font-size: 12px;
}
.body-the_number .number-container .big-numeracao {
  font-size: 140px;
  color: #FFFFFF;
  padding: 0;
}
.body-the_number .number-container .big-numeracao .sub-numeracao {
  font-size: 45px;
  position: relative;
  top: -70px;
  left: 10px;
}
.body-the_number .number-container .img-number-2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  top: 150px;
  left: -36px;
}
.body-the_number .container-2 {
  background-image: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
  padding: 0 33px;
  color: black;
}
.body-the_number .container-2 .design-container_numeracao {
  font-size: 14px;
  display: inline-block;
  margin: 214px 24px 24px 0;
  color: #5468E7;
}
.body-the_number .container-2 .design-container_semi-titulo {
  display: inline-block;
  font-size: 14px;
  color: #5468E7;
}
.body-the_number .container-2 .design-container_titulo {
  font-weight: 700;
  font-size: 40px;
}
.body-the_number .container-2 .big-numeracao {
  font-size: 140px;
  color: #5468E7;
}
.body-the_number .container-2 .big-numeracao .sub-numeracao {
  font-size: 45px;
  position: relative;
  top: -70px;
  left: 10px;
}
.body-the_number .container-2 .titulo-big-numeracao {
  font-size: 18px;
  margin: 9px 0 32px 0;
}
.body-the_number .container-2 .paragrafo-big-numeracao {
  line-height: 28px;
  color: #8B8B8B;
  font-size: 16px;
  margin-bottom: 32px;
  padding-top: 32px;
}
.body-the_number .container-2 .button-download {
  display: flex;
  align-items: center;
}
.body-the_number .container-2 .button-download a {
  margin-right: 10px;
}
.body-the_number .container-2 .button-download h1 {
  font-size: 16px;
}
.body-the_number .container-2 #design-container_navdata {
  margin-left: 54px;
  color: #FFFFFF;
  width: 144px;
  height: 48px;
  background-color: #303055;
  border-radius: 8px;
  border: none;
  padding: 10px;
  font-size: 12px;
}
.body-the_number .container-2 .cards .card_style {
  background-color: #FFFFFF;
  border-radius: 28.4444px;
}
.body-the_number .container-2 .cards .card_style .card-1 {
  display: flex;
  align-items: center;
  padding: 40px 20px 40px 20px;
  border-radius: 28.4444px;
}
.body-the_number .container-2 .cards .card_style .card-1 img {
  margin-right: 20px;
}
.body-the_number .container-2 .cards .card_style .card-1 h1 {
  font-size: 18px;
  color: #232340;
}
.body-the_number .container-2 .cards .card_style .card-1:hover {
  background-color: #5468E7;
  cursor: pointer;
  transition: 1s;
}
.body-the_number .container-2 .cards .card_style .card-1:hover h1 {
  color: #FFFFFF;
}
.body-the_number .container-2 .cards .card_style .card-2 {
  display: flex;
  align-items: center;
  padding: 40px 26px;
  border-radius: 28.4444px;
}
.body-the_number .container-2 .cards .card_style .card-2 img {
  margin-right: 20px;
}
.body-the_number .container-2 .cards .card_style .card-2 h1 {
  font-size: 18px;
  color: #232340;
}
.body-the_number .container-2 .cards .card_style .card-2:hover {
  background-color: #5468E7;
  cursor: pointer;
  transition: 1s;
}
.body-the_number .container-2 .cards .card_style .card-2:hover h1 {
  color: #FFFFFF;
}
.body-the_number .container-2 .cards .card_style .card-3 {
  display: flex;
  align-items: center;
  padding: 40px 26px;
  border-radius: 28.4444px;
}
.body-the_number .container-2 .cards .card_style .card-3 img {
  margin-right: 20px;
}
.body-the_number .container-2 .cards .card_style .card-3 h1 {
  font-size: 18px;
  color: #232340;
}
.body-the_number .container-2 .cards .card_style .card-3:hover {
  background-color: #5468E7;
  cursor: pointer;
  transition: 1s;
}
.body-the_number .container-2 .cards .card_style .card-3:hover h1 {
  color: #FFFFFF;
}

.main-container_recent .design-container_conteudo {
  margin: 0 33px;
}
.main-container_recent .design-container_conteudo .design-container_numeracao_service {
  font-size: 14px;
  display: inline-block;
  margin: 0 24px 24px 0;
  color: #5468E7;
}
.main-container_recent .design-container_conteudo .design-container_semi-titulo_service {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  color: #5468E7;
}
.main-container_recent .design-container_conteudo .design-container_titulo {
  font-weight: 700;
  font-size: 40px;
}
.main-container_recent .design-container_conteudo .paragrafo-recent {
  font-size: 16px;
}
.main-container_recent .design-container_conteudo .design-container_buttons {
  display: flex;
  margin-top: 32px;
}
.main-container_recent .design-container_conteudo .design-container_buttons .design-container_navigator1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #808080;
}
.main-container_recent .design-container_conteudo .design-container_buttons .design-container_navigator1:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.main-container_recent .design-container_conteudo .design-container_buttons .design-container_navigator2 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #5468E7;
  border: none;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container_recent .design-container_conteudo .design-container_buttons .design-container_navigator2:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.main-container_recent .cards-work {
  margin: 0 32px;
}
.main-container_recent .cards-work .card-work-1 {
  padding-top: 32px;
}
.main-container_recent .cards-work .card-work-1 .background-container {
  width: 311px;
  height: 355px;
  background-color: #FFCE79;
  border-radius: 17px;
}
.main-container_recent .cards-work .card-work-1 .background-container .img-container {
  padding-top: 21px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-container_recent .cards-work .card-work-1 .button-card {
  position: relative;
  margin-left: 24px;
  top: -35px;
  width: 118px;
  height: 28px;
  background: #908CFF;
  border-radius: 14px;
  border: none;
  font-weight: 600;
  font-size: 9.95556px;
  color: #FFFFFF;
  z-index: 0;
}
.main-container_recent .cards-work .card-work-2 {
  padding-top: 32px;
}
.main-container_recent .cards-work .card-work-2 .background-container {
  width: 311px;
  height: 355px;
  background-color: #908CFF;
  border-radius: 17px;
}
.main-container_recent .cards-work .card-work-2 .background-container .img-container {
  padding-top: 21px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-container_recent .cards-work .card-work-2 .button-card {
  position: relative;
  margin-left: 24px;
  top: -35px;
  width: 118px;
  height: 28px;
  background: #908CFF;
  border-radius: 14px;
  border: none;
  font-weight: 600;
  font-size: 9.95556px;
  color: #FFFFFF;
}
.main-container_recent .cards-work .texto-card h1 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 21px;
}
.main-container_recent .cards-work .texto-card p {
  font-weight: 400;
  font-size: 16px;
  margin-top: 16px;
}
.main-container_recent .cards-work .texto-card .button-card {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: inherit;
  margin-left: 0;
  margin-top: 24px;
  border: 3px solid black;
}
.main-container_recent .cards-work .button-contact-us {
  width: 313px;
  height: 46px;
  background: #5468E7;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  margin-top: 32px;
}
.main-container_recent .button-contact-us {
  width: 313px;
  height: 46px;
  background: #5468E7;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  margin-top: 32px;
  margin-left: 32px;
}

.jobs-container .jobs-container_conteudo {
  margin: 0 33px;
}
.jobs-container .jobs-container_conteudo .jobs-container_numeracao_service {
  font-size: 14px;
  display: inline-block;
  margin: 0 24px 24px 0;
  color: #5468E7;
}
.jobs-container .jobs-container_conteudo .jobs-container_semi-titulo_service {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  color: #5468E7;
}
.jobs-container .jobs-container_conteudo .jobs-container_titulo {
  font-weight: 700;
  font-size: 40px;
}
.jobs-container .jobs-container_conteudo .paragrafo-jobs {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #606060;
  margin: 30px 0 10px 0;
}
.jobs-container .jobs-container_conteudo .jobs-container_buttons {
  display: flex;
  margin-top: 32px;
}
.jobs-container .jobs-container_conteudo .jobs-container_buttons .jobs-container_navigator1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jobs-container .jobs-container_conteudo .jobs-container_buttons .jobs-container_navigator1:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.jobs-container .jobs-container_conteudo .jobs-container_buttons .jobs-container_navigator2 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #5468E7;
  border: none;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jobs-container .jobs-container_conteudo .jobs-container_buttons .jobs-container_navigator2:hover {
  transition: 1s;
  opacity: 0.5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.jobs-container .cards .card_style {
  background-color: #FFFFFF;
  width: 311px;
  height: 190px;
  margin: 28px 32px 28px 32px;
  border-radius: 32px;
  color: #5468E7;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.jobs-container .cards .card_style h1 {
  margin-left: 32px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  color: #232340;
}
.jobs-container .cards .card_style h2 {
  margin-left: 32px;
  font-weight: 400;
  font-size: 16px;
  color: #606060;
}
.jobs-container .cards .card_style .arrow-blue {
  margin-left: 32px;
  margin-top: 8px;
}
.jobs-container .cards .card_style .arrow-white {
  margin-left: 32px;
  margin-top: 8px;
  display: none;
}
.jobs-container .cards .card_style:hover {
  background-color: #232340;
  cursor: pointer;
  transition: 1s;
  width: 1500px;
}
.jobs-container .cards .card_style:hover h1 {
  color: #FFFFFF;
}
.jobs-container .cards .card_style:hover .arrow-blue {
  display: none;
}
.jobs-container .cards .card_style:hover .arrow-white {
  display: block;
}/*# sourceMappingURL=style.css.map */